<form action="/auth/login" method="POST">
  
  <div class="form-group">
    <label for="auth-email">Email   </label>
    <input id="auth-email" type="email" name="email"class="form-control" aria-describedby="email">
    <br>
    <small id="auth-email" class="form-text text-muted">please use a valid e-mail</small>
  </div>
    <br>
    <br>
  <div class="form-group">
    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password" class="form-control" >
  </div>
  <br>
  <br>
  <div>
  <input type="submit" class="btn btn-primary" value="Log In">
  </div>

</form>
