<center>
<br>
<br>
<h5 style="color: lightskyblue"> 
    city name was entered incorrectly please click the link below and try again
</h5>
   <h4> <a  href="/weather"><u>Search Weather</u></a> </h4>


</center>