<center>
<br>
<br>
<h5 style="color: lightskyblue"> 
    city name was entered incorrectly please click the link below and try again
</h5>
   <h4> <a  href="/weather"><u>Search Weather</u></a> </h4>
<br>
<br>
<br>
   <h5 style="color: lightskyblue"> 
    if you would like to return to your saved places please click the link below
</h5>
   <h4> <a  href="/weather/save"><u>saved places</u></a> </h4>


</center>