

<center>
    <br>
    <br>
<form method="POST" action="/weather/username?_method=PUT">
    <label style="color: lightskyblue" for="name">type new name below</label>
    <br>
    <br>
    <input  type="text" name="name" id="name" placeholder="current name :<%=user.name%>"/>
    <br>
    <br>
    <input class="btn btn-dark" style="color: lightskyblue" data-toggle="popover" type="submit" value="Change name" />
</form> 
</center>