/* nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
} */

h1 {
  color: lightskyblue;
}

 .card{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */  
}

/* .search{
  margin: 0 auto;
  width:40%
} */