nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.card{
  background-color: lightseagreen;
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: left;
  
}